@charset "UTF-8";

@media screen and (max-width: 767px) {
    body {
        margin: 0;
        /* to remove gap surrounding the edge of the page */
    }

    .main {
        width: 100%;
        margin:auto;
        font-size: 0;
        /* font-size 0 to remove random gap between div elements as browser is registering inlines as words  */
        overflow-x: hidden;
        /* to prevent horizontal scrolling for elements going beyond the page */
    }

    .header__container {
        width: 100%;
        display: flex;
        /* Flex allows the logo and nav content to appear side by side on page */
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        /* to make the nav bar sticky */
        background-color: #FFFFFF;
        z-index: 10;
        /* to make the header and nav bar sit above the body elements */
    }

    .logo {
        width:110px;
        height: 35px;
        padding: 20px 5px;    
        display: none;
        /* a different logo will be used for mobile and tablet view */
    }

    nav {
        width: 100%;
        /* container width is now 100% as children elements are not stacked on top of each other instead of side-by-side. */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* so the sign up and donate button appear on the next row */
        position: relative;
        /* so the items in the navbar sit outside of the header, and does not affect the width of the header when selected */
    }

    ul.topnav {
        position: absolute;
        /* so the items in the navbar sit outside of the header, and does not affect the width of the header when selected */
        top: 10px;
        /* so the hamburger button sits 10px down from the top of the page */
        left: 0;
        margin: 0;
        /* offsetting the <ul> margin as it is automatically indented */
        height: 25px;
        width: 25px;
        overflow: hidden;
        /* to hide the links underneath the hamburger icon until clicked */
        padding: 0;
        cursor: pointer;
        user-select: none;
         /* remove highlight around hamburger */
         order: 1;
    }

    ul.topnav li.hamburger a {
        height: 100%;
        color: #000000;
        font-size: 25px;
        text-decoration: none;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        /* to display the hamburger icon */
        margin-bottom: 25px;
    }

    .topnav.responsive {
        width: 100%;
        /* so the clickable area of the menu in mobile view stretches across the page*/
        height: 500px;
        /* to display all the menu items */
    }

    .topnav.responsive li.hamburger {
        width: 25px;
        padding: 0;
        margin-bottom: 21px;
        border: none;
        /* to remove border appearing around hamburger in responsive */
    }

    .topnav.responsive li {
        text-align: left;
        background-color: #ffffff;
        /* extra spacing between the li items */
        width: 100%;
        /* To fit the width of the topnav responsive */
        border: #000 1.75px solid;
        /* to apply border to menu items in responsive */
        box-sizing: border-box;
    }

    .nav_button a {
        padding: 12px;
        box-sizing: border-box;
        display: block;
        /* to maximise the clickable area of the nav button */
        text-decoration: none;
        color: #000;
        /* to remove underline and blue text colour for hyperlink */
        font-size: 16px;
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
        /* to increase the size of the clickable area */
        width: 100%;
    }

    .search_icon {
        width: 20px;
        height: 20px;
        padding: 0 15px 0 40px;
        margin: auto 4px;
        /* to create space between the hamburger menu and the search icon*/
        order: 2;
        /* to switch the order of the search and hambuger menu icon */
    }

    .vertical_line { 
        width: 2px;
        height: 50px;
        background-color: #D7D8De;
        margin: 16px 5px;
        display: none;
        /* this line is only present in the desktop view to separate the search icon and log in button */
    }

    .lite_logo__link {
        margin: auto 0;
        /* to horitontally  align*/
        order: 3;
    }

    .lite_logo {
        width: 75px;
        height: 18px;
    }

    .log_in_button {
        order: 4;
    }

    .log_in_button p {
        font-size: 16px;
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        padding: 10px 0 10px 26px;
        margin: 0;
    }

    .sign_up_donate_container {
        margin-top: 16px;
        width: 100%;
        display: flex;
        align-items: center;
        order: 5;
    }
    
    .sign_up_button {
        /* styling of the button has been separated from the styling of the <p> text inside */
        width: 50%;
         /* sign up button takes up half the parent container in mobile view */
        font-size: 16px;
        margin-right: 8px;
        padding: 16px;
        /* consistent padding all around for mobile view */
        box-sizing: border-box;
        background-color: #000;
        text-align: center;
        /* to align the text in the sign up button */
    }

    .sign_up_button p {
        margin: 0;
        /* to remove the line height */
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        color: #FFFFFF;
        line-height: 1;
        /* to make the line height shorter so the button is shorter */
    }

    .header_donate_button {
        width: 50%;
        /* donate button takes up half the parent container in mobile view */
        display: flex;
        align-items: center;
        background-color: #001EFF;
        padding: 16px;
        /* consistent padding all around for mobile view */
        box-sizing: border-box;
        margin-left: 8px;
        justify-content: center;
        /* to center align the content in the parent box */
    }

    .header_donate_button p {
        margin: 0;
        /* to remove the line height */
        font-size: 16px;
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        color: #FFFFFF;
        margin-right: 10px;
        line-height: 1;
        /* to make the line height shorter so the button is shorter */
    }

    .donate_down_arrow {
        width: 9px;
        height: 6px;
    }

    .banner{
        /* no padding to allow image to stretch across screen */
        box-sizing: border-box; 
        /* Border-box siing enables box to stay the same size when there is padding */
        align-items: center; 
        margin-top: 124px;
        /* so the first section appears under the sticky navbar */
    }

    .banner_content_container {
        display: flex;
        flex-direction: column;
        /* to display the children in a column and apply the order properttes in order to flip the second and third div orders for mobile. The 100% widths of the children will be removed as the column flex-direction is already stretching children elements across the screen */
        width: 100%;
        /* display flex has been removed as content is stacked in mobile view, rather than side-by-side */
    }

    .banner_image_container {
        order: 1;
        /* the first child in the parent div */
    }

    .banner_image {
        width: 100%;
    }

    .banner_text_container {
        order: 3;
        /* the third child in the parent div. The order of the divs has been switched in mobile view */
        padding: 0px 18px 24px 18px;
        margin-bottom: 40px;
        /* to create a gap for wider text when the mobile website is interactive */
    }

    h2 {
        width: auto;
        height: auto;
        font-size: 37px;
        /* making the H2 size a bit smaller in mobile view*/
        font-family: 'Anton', sans-serif;
        font-weight: 500;
        margin: 0 auto;
    }

    .banner_text_container p { 
        font-size: 16px;
        /* decreasing font size for mobile view */
        font-family: 'Overpass', sans-serif;
        font-weight: 200;
        margin: 0 auto;
    }

    .give_monthly_container {
        order: 2;
        /* the second child in the parent div. the order of the divs has been switched in mobile view*/
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top:20px;
        margin-bottom: 10px;
        padding: 0 18px;
        box-sizing: border-box;
    }

    .give_monthly_button {
        width: 148px;
        height: 40px;
        background-color:#0000001A ;
        /* the button will not be changed to black background with white text as it appears that the hover-state has been incorrectly applies to the default state */
    }

    .give_monthly_button p {
        font-size: 12px;
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        margin: 0 auto;
        padding:  8px 16px;
        line-height: 25px;
    }

    .give_monthly_nav_container {
        display: flex;
        justify-content: space-between;
    }

    .give_monthly_arrow {
        width: 40px;
        height: 40px;
        background-color: #0000001A;
    }

    .give_monthly_page_number {
        width: 91px;
        height: 40px;
        text-align: center;
    }

    .give_monthly_page_number p {
        font-size: 12px;
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        margin: 0 auto;
        padding:  8px 16px;
        line-height: 25px;
    }

    .scrolling_banner {
        width: 100%;
        height: 37px;
        background-color: black;
        display: flex;
        align-items: center;
        /* to align the text to the horizontal center of the black scrolling banner */
        white-space: nowrap;
        overflow: hidden;
        /* to prevent the text in the scrolling banner from wrapping when viewed on a smaller screen */
    }

    .scrolling_banner p {
        font-size: 15px;
        color: #FFFFFF;
        font-family: 'Overpass', sans-serif;
        font-weight: 100;
        padding: 7.5px;
        margin: 0 32px;
        line-height: 1
        /* to make the line-height shorter */
    }

    .firefighter_image {
        width: 100%;
        height: 400px;
        /* to make the image shorter */
        object-fit: cover;
        /*so the image isn't stretched out*/
    }

    .fundraise {
        width: 100%;
        /* display flex is removed */
    }

    .fundraise_text_container {
        width: 100%;
        /* text stretches across entire width of screen in mobile */
        padding: 40px 19px;
        /* in mobile view, there is a padding-bottom of 145px, but I think this is too long so I will keep it at 40px */
        box-sizing: border-box;
        /* border-box allows the box to stay the same size when there is padding so the image on the left remains in the grid */
    }

    .fundraise_text p {
        font-size: 24px;
        font-family: 'Overpass', sans-serif;
        font-weight: 300;
        margin: 0 auto 30px;
    }

    .donate_button {
        width: 72px;
        height: 18px;
        background-color: #001EFF;
        margin-top: 40px;
        margin-right: 340px;
        padding: 8px 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .donate_button p {
        color: white;
        font-size: 12px;
        font-family: 'Overpass', sans-serif;
    }

    .white_arrow {
        width: 12px;
        height: 9.83px;
        padding-right: 8px;
    }

    .fundraise_image_container {
        width: 100%;
        /* images stretches across entire screen in mobile view */
    }

    .fundraise_image {
        width: 100%;
        object-fit: cover;
        /*so the image isn't stretched out*/
    }

    .stories {
        display: flex;
        flex-direction: column;
        /* to display the children in a column and apply the order properttes in order to flip the order of the children elements in mobile view */
    }

    .stories_image_container {
        /* width removed as column has automatic width applied  */
        order: 2;
        /* to change the order of this child element to be second */
        display: flex;
        flex-direction: column;
        /* to display the children in a column and apply the order properttes in order to flip the order of the children elements in mobile view */
    }

    .stories_image {
        width: 100%;
        order:2;
        /* to change the order of this child element to be second in the parent div */
        /* the image downloaded is slightly different to the image that is used on the home page, that is why it appears to be zoomed in */
    }

    .stories_image_description {
        order: 1;
        /* to change the order of this child element to be first in the parent div */
        width: 100%;
        padding: 16px;
        background-color:#000000 ;
        box-sizing: border-box;
    }

    .stories_image_description p {
        font-size: 16px;
        color: #FFFFFF;
        font-family: 'Overpass', sans-serif;
        font-weight: 100;
        margin: 0 auto;
    }

    .stories_text_container {
        order: 1;
        /* to change the order of this child element in the parent to be first */
        /* width has been removed as column width is automatically applied */
        padding: 24px 32px 24px 18px;
        background-color: #001EFF;
        box-sizing: border-box;
        /* border-box allows the box to stay the same size when there is padding so the image on the left remains in the grid */
        margin: 0 auto;
    }

    .stories_text_CTA_container {
        height: 40px;
        display: flex;
        justify-content: space-between;
        /* to push the children to the far LHS and far RHS of the parent div */
    }

    .stories_text_CTA {
        width: 186px;
        height: 40px;
        background-color:#FFFFFF33;
        /* the background colour will not be changed to white with blue text in mobile view as it appears that the original website has accidentally coded the hover-state (white background with blue text) to be the default-state*/
        margin-right: 20px;
    }

    .stories_text_CTA p {
        font-size: 12px;
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
        color: #FFFFFF;
        margin: 0 auto;
        padding:  8px 16px;
        line-height: 25px;
    }

    .stories_nav_container {
        display: flex;
    }

    .stories_arrow{
        width:40px;
        height: 40px;
        background-color:#FFFFFF33;
    }

    .stories_page_number {
        width: 88px;
        height: 40px;
        text-align: center;
    }

    .stories_page_number p {
        font-size: 12px;
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
        color: #FFFFFF;
        margin: 0 auto;
        padding:  8px 16px;
        line-height: 25px;
    }

    .stories_text {
        height: 100%;
        /* to stretch the height of the text to stretch to 100% of the parent div*/
        display: flex;
        align-items: center;
        /* to center the text in the parent box */
        /* the text will be kept horizontally centered for the mobile version. margin-bottom: 40px will not be applied to the text container as it looks better horizontally centered*/
    }

    .stories_text p {
        font-size: 24px;
        color: #FFFFFF;
        font-family: 'Overpass', sans-serif;
        font-weight: 100;
        margin: 50px auto;
    }

    b {
        font-weight: 500;
        /* global bold has been created to decrease the intensity of the <b></b> tag used in the HTML */
    }

    .articles {
        width: 100%;
        padding: 60px 0;
    }

    .project_heading_container {
        width: 100%;
        /* to put the title on the LHS, and the arrows on the RHS of the parent */
        padding: 0 20px;
        box-sizing: border-box;
        align-items: center;
    }

    .project_heading_container p {
        font-size: 24px;
        font-family: 'Overpass', sans-serif;
        font-weight: 300;
    }

    .arrow_container {
        display: flex;
    }

    .articles_arrow {
        width: 40px;
        height: 40px;
        background-color: #0000001A;
    }

    .articles_page_number {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .articles_page_number p {
        font-size: 12px;
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        margin: 0 auto;
        padding:  0 4px;
    }

    .project_container {
        width: 25%;
        display: flex;
        padding: 0 20px;
        box-sizing: border-box;
        margin-top: 20px; 
    }

    .project {
        margin: 0 10px;
    }

    .project:first-child {
        margin-left: 0;
        /* to remove the margin on the LHS of the first project child */
    }

    .project:last-child {
        margin-right: 0;
        /* to removek the margin on the RHS of the last project child */
    }

    .project_image {
        width: 255px;
        height: 255px;
        margin-bottom: 12px;
    }

    .project p b {
        font-size: 18px;
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        margin: 0 auto;
    }

    .project p {
        font-size: 16px;
        font-family: 'Overpass', sans-serif;
        font-weight: 300;
        margin: 0 auto;
    }

    .newsletter {
        width: 100%;
        height: 423px;
        text-align: center;
        /* To center align the text in the div tag */
        padding: 10px;
        box-sizing: border-box;
        /* To better center align the newsletter sign up heading than the current mobile experience */
        margin-bottom: 50px;
        /* to create a gap between the newsletter sign up and sponsors section */
    }

    h3 {
        font-size: 24px;
        font-family: 'Anton', sans-serif;
        margin-bottom: 24px;
        letter-spacing: 2px;
        /* to give the letters space so they aren't as cramped */
        font-weight: 500;
    }

    .newsletter p {
        font-size: 16px;
        font-family: 'Overpass', sans-serif;
        font-weight: 200;
    }

    .form_text {
        /*  width removed so the form text box fits in the screen */
        height: 48px;
        border: 1px solid;
        /* to create solid outline around div containing text */
        border-color: black;
        padding: 6px 4px 6px 10px;
        box-sizing: border-box;
        border-radius: 3px;
        /* to round the edges */
        margin: 0 auto 10px;
        /* to center the box horizontally within its parent's box */
        text-align: left;
    }

    .form_text p {
        font-size: 16px;
        color: grey;
        font-family: 'Overpass', sans-serif;
        font-weight: 400;
        line-height: 35px;
        /* to horitzontally align the text to the form box */
        margin: 0 auto;
        /* to horizontally align the form text */
    }

    .count_me_in_button {
        width: 141px;
        height: 51px;
        background-color: #001EFF;
        border: 2px solid;
        border-color: #001EFF;
        padding: 0 15px;
        margin: 20px auto 35px;
        /* to center align the button within it's parent's box and create gaps for the top and bottom*/
    }

    .count_me_in_button p {
        color: #FFFFFF;
        font-size: 16px;
        font-family:'Anton', sans-serif;
        letter-spacing: 2px;
        /* so letters aren't cramped together */
        margin: 0 auto;
        line-height: 50px;
        /* to horizontally align the text in the button */
    }

    .terms_and_conditions {
        box-sizing: border-box;
    }

    .terms_and_conditions p {
        font-size: 16px;
        font-family: 'Overpass', sans-serif;
        font-weight: 300;
        margin: 0 auto 14px;
        /* to center align the text within it's parent's box */
    }

    .terms_and_conditions a {
        color: black;
        font-weight: 600;
    }

    .sponsors {
        width: 100%;
        background-color: #f5f5f6;
        display: flex;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        /* to center the heading for 'major and official partners */
    }

    .sponsors_container:nth-last-child(-n+2) {
        display: none;
        /* to remove Project Funding Partners and Promotional Partners from mobile view */
    }

    .sponsors_container h3 {
        font-size: 12px;
        font-family: 'Overpass', sans-serif;
        font-weight: 700;
        margin: 0 auto;
        /* to remove space created by text height */
        letter-spacing: 1px;
        /* to remove wide letter spacing */
    }

    .partner_logo {
       width: 40%;
        /* to make logos responsive as device size changes, and small enough to form two columns in mobile view*/
        padding: 15px;
        box-sizing: border-box;
    }

    .partner_logo:last-child {
        padding-right: 0;
        /* to remove padding right on the last logo in the set */
    }

    .sponsors_container {
        padding: 0 7px;
    }

    .logo_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        /* to horizontally center the logos */
        justify-content: space-between;
        flex-wrap: wrap;
        /* to create two rows for logos by wrapping children of parent */
    }

    .footer__container {
        width: 100%;
        /* removed the height of 518px to allow footer to size to content */
        background-color: #151515;
        padding: 28px;
        box-sizing: border-box;
    }

    .footerbox {
        width: 100%;
        /* remove display:flex to items are stacked instead of side by side */
    }

    h4 {
        color: #FFFFFF;
        letter-spacing: 2px;
        font-size: 18px;
        font-family:'Anton', sans-serif;
        line-height: 2;
        font-weight: 300;
        margin: 0 auto;
        /* to remove extra space created by auto line height*/
        margin-bottom: 7px;
        /* to create a gap between the column heading and links below */
    }

    .footer_column a {
        color: #ffffff;;
        font-size: 16px;
        line-height: 3;
        /* to increase the size of the clickable area */
        font-family: 'Overpass', sans-serif;
        font-weight: 200;
        text-decoration: none;
        /* to remove underline from hyperlink */
        width: 100%;
        padding: 12px 30% 12px 12px;
        /* to increase clickable area of footer link */
    }
    
    .footer_column p {
        width: 100%;
        margin: 0 auto;
        /* to remove extra space created by auto line height */
        margin: 8px 0;
        border-bottom: #ffffff 1px dotted;
        /* to make the spacing between each item in the footer more obvious in mobile view */
    }

    .footer_column {
        width: 100%;
        /* column items stretch across the entire screen for mobile */
        padding: 0 24px 24px 0;
        box-sizing: border-box;
    }

    .footer_column_container {
        /* remove displays:flex to columns are stacked instead of side by side */
    }

    .footer_column_row {
        margin-bottom: 24px;
    }

    .social_media_icon_container {
        display: flex;
    }

    .social_media_icon_container a {
        padding: 0;
        /* to remove padding around a tag */
    }

    .social_media_icon {
        width: 30px;
        height: 30px;
        margin-right: 14px;
        border-radius: 100px;
        border: 1px solid #fff;
        /* to create white circumference around icons */
        background-color: #ffffff;
        /* to create white background for social media icons that are transparent */
    }

    .copyright p {
        color: #ffffff;;
        font-size: 15px;
        font-family: 'Overpass', sans-serif;
        font-weight: 200;
        margin: 0 auto;
        margin: 0 auto 28px;
        /* to provide space so the copyright is not hidden behind the contact us chat button at the very bottom */
    }

    .chat_box {
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        box-shadow: 0 4px 12px;
        /* to give the box a shadow (rather than an outline) */
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 16px;
        /* to provide a space between the chat box and edge of page */
        border-radius: 100px;
        /* to make the chat button circular in mobile view */
        position: fixed; 
        bottom: 5px;
        /* to create a gap between the chat icon and the bottom of the screen */
        right: 0;
        /* to fix the chatbox to the bottom of the screen, on the RHS*/
        justify-content: center;
    }

    .chat_box p {
        font-size: 15px;
        font-family:'Noto Sans', sans-serif;
        font-weight: 700;
        display: none;
        /* when you view this website on an actual mobile device, the chat button is just the icon in a circle */
    }

    .chat_icon {
        width: 24px;
        height: 24px;
        padding: 5px;
    }

    /* Shared CSS rules in sub pages below this point (both for support_us.html and about_us.html */
    .page_header {
        padding: 32px 28px;
        background-color: #3F4B55;
        margin: 127px 0 60px;
        /* so the first section appears under the sticky navbar */
    }

    .page_header__content {
        min-width: 320px;
        max-width: 1280px;
        margin: 0 auto;
        /* To make the content centred on the page as the page resizes so it is responsive */
    }

    h1 {
        color: #FFFFFF;
        letter-spacing: 2px;
        /* to create more space between the lines */
        line-height: 1;
        font-size: 40px;
        font-family:'Anton', sans-serif;
        font-weight: 400;
        margin: 0 auto 30px;
        /* to remove extra space created by auto line height*/
    }

    .page_header h4 {
        color: #FFFFFF;
        letter-spacing: 1px;
        line-height: 1.5;
        font-size: 16px;
        font-family: 'Overpass', sans-serif;
        font-weight: 500;
        margin: 0 0 18px;
        /* to remove extra space created by auto line height and also create a space at the bottom of the header*/
    }

    /* Specific CSS for support_us.html below this point.*/
    .donate_type {
        padding: 0 28px 0 28px;
        margin: 0 0 74px;
    }

    .donate_type__content {
        margin: 0 auto;
        /* To make the content centred on the page as the page resizes so it is responsive */
    }

    .donate_type h2 {
        letter-spacing: 1px;
        /* to create more space between the lines */
        font-size: 24px;
        font-family:'Anton', sans-serif;
        margin: 14px 0; 
    }


    .donate_type_box {
        outline: 1px solid black;
        padding: 16px;
        margin: 0 0 30px;
        max-width: 1200px;
        /* to enable the donate type box to have responsive width */
    }

    .donate_type_box h4 {
        color: #000000;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Overpass', sans-serif;
        margin: 0 0 14px; 
    }

    .donate_type_box p {
        font-size: 16px;
        font-weight: 300;
        font-family: 'Overpass', sans-serif;
        margin: 0 0 14px; 
    }

    .donate_type_box a {
    text-decoration: underline;
    font-weight: 700; 
    }

    .employer_donation {
        padding: 0 28px;
        margin: 0 0 74px;
    }

    .employer_donation__content {
        margin: 0 auto;
        min-width: 320px;
        max-width: 1280px;
        /* To make the content centred on the page as the page resizes so it is responsive */
    }

    .employer_donation p {
        font-size: 16px;
        font-weight: 300;
        font-family: 'Overpass', sans-serif;
        margin: 0 0 24px; 
    }

    .employer_donation a {
        text-decoration: underline;
        font-weight: 700; 
        color: #000000;
    }

    p.mail_address {
        line-height: 1;
        margin-bottom: 10px;
        /* to make the mail address lines closer together */
    }

    /* Specific CSS for about_us.html below this point */
    .team_introduction {
        padding: 0 28px 0 28px;
        margin: 0 0 74px;
        min-width: 320px;
        max-width: 1280px;
        margin: 0 auto;
        /* To make the content centred on the page as the page resizes so it is responsive */
    }  

    .team_introduction h2 {
        color: #000000;
        letter-spacing: 1px;
        /* to create more space between the lines */
        font-size: 24px;
        font-family:'Anton', sans-serif;
        margin: 14px 0; 
    }   
    .team_introduction p {
        font-size: 16px;
        font-weight: 300;
        font-family: 'Overpass', sans-serif;
        margin: 0 0 14px; 
    }

    .team_photos {
        display: flex;
        flex-wrap: wrap;
        /* to display the team photos next to each other */
        margin: 0 0 40px;
    }

    .team_photos__container {
        width: 40%;
        max-width: 220px;
        margin: 20px 20px;
        /* to create space between the team photos  */
    }

    .team_photo {
        width: 100%;
        margin: 0 0 10px;
        /* no image effects for tablet and mobile */
    }

    .team_photos__container p b {
        font-size: 16px;
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        margin: 0 auto;
    }

    .team_photos__container p {
        font-size: 16px;
        font-family: 'Overpass', sans-serif;
        font-weight: 300;
        margin: 0 auto;
    }

    .team_photos__container a {
        text-decoration: none;
        color: #000000;
        /* to remove underline under team names and position descriptions */
    }

} 
/* closing bracket for media query */ 